# Ignore files and directories that are not needed in the Docker image

# Development dependencies
node_modules
.expo

# Expo-related files
.expo-shared/
*.expo.js

# Testing and linting files
coverage/
.eslintrc.js
jest.config.js

# IDE and editor files
.vscode/
.idea/

# Git-related files
.git/
.gitignore

# Logs and temporary files
logs/
tmp/

# System files
.DS_Store
Thumbs.db

# Build output (this will be copied from the base stage)
dist/

# Other unnecessary files
*.log
*.bak